{% extends "layout.html" %}
{% load static %}
{% load bootstrap4 %}


{% block title %}login {% endblock %}

{% block content %}


<div class="signup-page" >

		<div class="page-header section-image">
		    <div class="page-header-image" style="background-image: url('https://res.cloudinary.com/hwz12fud7/image/upload/v1537993883/media/musicadence/choir.jpg');"></div>
		        <div class="content">
									<div class="container">
										<div class="col-md-5 ml-auto mr-auto">
											<!--
											<div class="logo-container">
                          <img src="{% static 'img/icons/musicadence.png' %}" alt="">
                      </div>
											-->
											<h4>Login</h4>
											<form method='POST' action="" class="card card-login card-plain">
												{% csrf_token %}
												{% bootstrap_form form%}
												<br>
												<div class="card-footer text-center">
													<input type='submit' value='login' class='btn btn-info btn-round btn-block'>
                        </div>
												<hr>
												<div class="pull-left">
														<h6><a href="{% url 'accounts:signup' %}" class="link footer-link">Create Account</a></h6>
												</div>

												<div class="pull-right">
														<h6><a href="{% url 'password_reset' %}" class="link footer-link">Need Help?</a></h6>
												</div>
											</form>
										</div>
									</div>

		        </div>
		    </div>

</div>
{% endblock %}
