{% extends "layout.html" %}
{% load static %}

{% block title %}reset password{% endblock %}

{% block content %}
<div class="signup-page" >

		<div class="page-header section-image">
		    <div class="page-header-image" style="background-image: url('https://res.cloudinary.com/hwz12fud7/image/upload/v1537993883/media/musicadence/choir.jpg');"></div>
		        <div class="content">
									<div class="container">
										<div class="col-md-5 ml-auto mr-auto">
											<div class="logo-container">
                          <img src="{% static 'img/icons/musicadence.png' %}" alt="">
                      </div>
											<br>
											<h3 text-center>Check your inbox!</h3>
                      <p> We just sent you a mail please check your mail box for further instructions... </p>
										</div>
									</div>
		        </div>
		    </div>
</div>
{% endblock %}
