{% extends "layout.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}article_detail{% endblock title %}

{% block content %}
<body class="blog-post" >

  <div class="wrapper">

        <div class="page-header page-header-small">
          <div class="page-header-image" data-parallax="true" style="background-image: url('{{ article.image_url }}') ;">
          </div>

          <div class="content-center">
              <div class="row">
                  <div class="col-md-8 ml-auto mr-auto text-center">
                    <div class="page-cover-overlay">
                      <h2 class="title">{{article.title}}</h2>
                      <h4>{{article.description|safe|truncatewords:10}}</h4>
                    </div>
                  </div>
              </div>
          </div>
        </div>


          <div class="section">
              <div class="container">
                  <div class="row">
                      <div class="col-md-8 ml-auto mr-auto">
                          <h3 class="title">{{article.title}}</h3>
                          <p>{{ article.description|safe|linebreaks }}</p>

                          <br>
                          <br>
                          <br>

                          <p>{{ article.body|safe|linebreaks }}</p>
                      </div>
                  </div>
              </div>
          </div>

          <div class="section section-blog-info">
              <div class="container">
                  <div class="row">
                      <div class="col-md-8 ml-auto mr-auto">

                          <div class="row">
                              <div class="col-md-6">
                                  <div class="blog-tags">
                                      Category:
                                      <span class="badge badge-info"> {{article.category}}</span>
                                  </div>
                              </div>
                              <!--
                              <div class="col-md-6">
                                  <a href="#geetech" class="btn btn-google btn-round pull-right">
                                      <i class="fa fa-google"></i> 232
                                  </a>
                                  <a href="#geetech" class="btn btn-twitter btn-round pull-right">
                                      <i class="fa fa-twitter"></i> 910
                                  </a>
                                  <a href="#geetech" class="btn btn-facebook btn-round pull-right">
                                      <i class="fa fa-facebook-square"></i> 872
                                  </a>
                              </div>
                            -->
                          </div>

                          <hr />

                          <div class="card card-profile card-plain">
                              <div class="row">
                                  <div class="col-md-2">
                                      <div class="card-avatar">
                                          <a href="#geetech">
                                              <img class="img img-raised" src="{{article.author.image_url}}">
                                          </a>
                                      <div class="ripple-container"></div></div>
                                  </div>
                                  <div class="col-md-8">
                                      <h4 class="card-title">{{article.author.username}}</h4>
                                      <p class="description">{{article.author.bio}}</p>
                                  </div>
                                  <div class="col-md-2">
                                      <button type="button" class="btn btn-default pull-right btn-round">Follow</button>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>
              </div>
          </div>

          <div class="section section-comments">
              <div class="container">
                  <div class="row">
                      <div class="col-md-8 ml-auto mr-auto">
                          <div class="media-area">
                            {% with comments.count as total_comments %}
                              <h3 class="title text-center">{{ total_comments }} Comment{{ total_comments|pluralize }}</h3>
                            {% endwith %}

                            {% for comment in comments %}
                                <div class="media">
                                    <a class="pull-left" href="#geetech">
                                        <div class="avatar">
                                            <img class="media-object img-raised" src="{{comment.by.image_url}}" alt="{{comment.by.username}}"/>
                                        </div>
                                    </a>
                                    <div class="media-body">
                                      <h4>{{comment.by.username}} | <small class="text-muted">{{comment.created_on}}</small></h4>
                                        <p>{{comment.content}}</p>
                                        <br>
                                        <br>
                                        <!--
                                        <div class="media-footer">
                                            <a href="#geetech" class="btn btn-primary btn-neutral pull-right" rel="tooltip" title="Reply to Comment">
                                                <i class="now-ui-icons ui-1_send"></i> Reply
                                            </a>
                                            <a href="#geetech" class="btn btn-danger btn-neutral pull-right">
                                                <i class="now-ui-icons ui-2_favourite-28"></i> 243
                                            </a>
                                        </div>
                                        -->
                                    </div>
                                </div>

                            {% empty %}
                                <h4 class="title text-center">No comment yet be the first to comment...</h3>
                            {% endfor %}
                          </div>

                          <br>
                          <br>
                          <hr />

                            <h3 class="title text-center">Post your comment</h3>
                            <div class="media media-post">
                                <a class="pull-left author" href="#geetech">
                                    <div class="avatar">
                                        <img class="media-object img-raised" alt="{{user.username}}" src="{{user.image_url}}">
                                    </div>
                                </a>
                                <div class="media-body">
                                  <form action="" method="post">
                                    {% csrf_token %}
                                    {{ form.content|attr:"name:form.body"|attr:"class:form-control"|attr:"rows:4" |attr:"placeholder:write your comments here..." }}
                                    <div class="media-footer text-right">
                                      <button type="submit" class="btn btn-info btn-simple btn-round"><i class="fa fa-reply"></i> reply</button>
                                    </div>
                                  </form>
                                </div>
                            </div> <!-- end media-post -->
                      </div>
                  </div>
              </div>
          </div>

          <div class="section">
              <div class="container">
                  <div class="col-md-12">
                      <h2 class="title text-center">Similar Stories</h2>
                      <br />
                      <div class="blogs-1" id="blogs-1">
                          <div class="row">

                              <div class="col-md-10 ml-auto mr-auto">
                                  <div class="card card-plain card-blog">
                                      <div class="row">
                                          <div class="col-md-5">
                                              <div class="card-image">
                                                  <img class="img img-raised rounded" src="../assets/img/examples/card-blog4.jpg">
                                              </div>
                                          </div>
                                          <div class="col-md-7">
                                              <h6 class="category text-info">Enterprise</h6>
                                              <h3 class="card-title">
                                                  <a href="#geetech">Warner Music Group buys concert discovery service Songkick</a>
                                              </h3>
                                              <p class="card-description">
                                                  Warner Music Group announced today it’s acquiring the selected assets of the music platform Songkick, including its app for finding concerts and the company’s trademark.
                                              </p>
                                              <p class="author">
                                                  by <a href="#geetech"><b>Sarah Perez</b></a>, 2 days ago

                                          </p></div>
                                      </div>
                                  </div>

                                  <div class="card card-plain card-blog">
                                      <div class="row">
                                          <div class="col-md-7">
                                              <h6 class="category text-danger">
                                                  <i class="now-ui-icons now-ui-icons media-2_sound-wave"></i> Startup
                                              </h6>
                                              <h3 class="card-title">
                                                  <a href="#geetech">Insticator raises $5.2M to help publishers</a>
                                              </h3>
                                              <p class="card-description">
                                                  Insticator is announcing that it has raised $5.2 million in Series A funding. The startup allows online publishers to add quizzes, polls and other interactive elements...
                                              </p>
                                              <p class="author">
                                                  by <a href="#geetech"><b>Anthony Ha</b></a>, 5 days ago

                                          </p></div>
                                          <div class="col-md-5">
                                              <div class="card-image">
                                                  <img class="img img-raised rounded
                                                  " src="../assets/img/examples/card-blog6.jpg">
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          {% if user.is_superuser %}
              <p><a href="{% url 'articles:article_update' slug=article.slug %}">Edit</a></p>
          {% endif %}
      </div>

</body>

{% endblock content %}
