{% extends "layout.html" %}

{% load staticfiles %}

{% block title %}blog{% endblock title %}

{% block content %}
<div class="blog-posts">
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('../static/img/banners/ogeblog.jpg');">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                <h1 class="title">Your Story Starts With Us.</h1>
                          <h4>Welcome to my blog channel where i post articles please feel free to check my latest posts from time to time as we update articles...</h4>

                  <i class="fa fa-play"></i> Watch video
              </div>
          </div>
      </div>
  </div>

  <div class="main main-raised">
  		<div class="container">



  			<div class="section">
  				<h3 class="title text-center">This is our latest available articles...</h3>
  				<br />
  				<div class="row">

            {% for article in articles %}
            <div class="col-md-4">
							<div class="card card-blog">
                <div class="card-image">
                  <a href="{% url 'article_detail' slug=article.slug %}">
                    <img class="img img-raised" src="{{ article.image_url }}" alt="{{article.slug}}" style="width:100%; height:40%" />
                  </a>
  							</div>

								<div class="card-content">
									<h6 class="category text-info">
                    <i class="material-icons">trending_up</i> {{article.category}}
                  </h6>
									<h4 class="card-title">
										<a href="{% url 'article_detail' slug=article.slug %}">{{article.title}}</a>
									</h4>
									<p class="card-description">
										{{article.description|safe|truncatewords:7|linebreaks}}<a href="{% url 'article_detail' slug=article.slug %}"> Read More </a>
									</p>
								</div>
							</div>
						</div>
            {% if forloop.counter|divisibleby:"3" %}
            </div><!-- row -->

          <div class="row">
          {% endif %}

          {% empty %}
          <h5 class="description">Articles are still on draft to b published soon please bear with us...</h5>

          {% endfor %}
          </div><!-- row -->

          {% include "articles/pagination.html" %}
  			</div>
        {% if user.is_superuser %}
            <p><a href="{% url 'article_create' %}">Create an Article</a></p>
        {% endif %}

  		</div>

  		<div class="team-5 section-image" style="background-image: url('../assets/img/bg10.jpg')">

  			<div class="container">
  				<div class="row">

  					<div class="col-md-6">
  						<div class="card card-profile card-plain">
  							<div class="col-md-5">
  								<div class="card-image">
  									<a href="#pablo">
  										<img class="img" src="{% static 'img/icons/oge_baby2.jpg' %}" />
  									</a>
  								</div>
  							</div>
  							<div class="col-md-7">
  								<div class="card-content">
  									<h4 class="card-title">Ogechukwu Enuka</h4>
  									<h6 class="category text-muted">Author of the Year</h6>

  									<p class="card-description">
  										Site CEO/ADMIN of this blog site...
  									</p>

  									<div class="footer">
  										<a href="#geetech" class="btn btn-just-icon btn-simple btn-white"><i class="fa fa-twitter"></i></a>
  										<a href="#geetech" class="btn btn-just-icon btn-simple btn-white"><i class="fa fa-facebook-square"></i></a>
  										<a href="#geetech" class="btn btn-just-icon btn-simple btn-white"><i class="fa fa-google"></i></a>
  									</div>
  								</div>
  							</div>
  						</div>
  					</div>

  				</div>

  			</div>
  		</div>

  		<div class="subscribe-line">
  			<div class="container">
  				<div class="row">
  					<div class="col-md-6">
  						<h3 class="title">Get Tips & Tricks every Week!</h4>
  						<p class="description">
  							Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about this.
  						</p>
  					</div>
  					<div class="col-md-6">
  						<div class="card card-plain card-form-horizontal">
  							<div class="card-content">
  								<form method="" action="">
  									<div class="row">
  										<div class="col-md-8">

  											<div class="input-group">
  												<span class="input-group-addon">
  													<i class="material-icons">mail</i>
  												</span>
  												<input type="email" value="" placeholder="Your Email..." class="form-control" />
  											</div>
  										</div>
  										<div class="col-md-4">
  											<button type="button" class="btn btn-primary btn-round btn-block">Subscribe</button>
  										</div>
  									</div>
  								</form>
  							</div>
  						</div>

  					</div>
  				</div>
  			</div>
  		</div>
      </div>

</div>
{% endblock %}
