{% load static %}

<nav class="navbar navbar-danger navbar-transparent navbar-absolute">
    	<div class="container">
        	<!-- Brand and toggle get grouped for better mobile display -->
        	<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>
        		<a class="navbar-brand" href="{% url 'home' %}">ogeblog</a>
        	</div>

        	<div class="collapse navbar-collapse">
        		<ul class="nav navbar-nav navbar-center">
	    				<li>
								<a href="{% url 'home' %}">
									<i class="material-icons">home</i> home
								</a>
							</li>

							<li>
								<a href="#geetech" target="_blank" class="btn btn-white btn-simple">
									<i class="material-icons">email</i> contact us
								</a>
							</li>

        		</ul>

						<ul class="nav navbar-nav navbar-right">
	    				<li>
								<a href="{% url 'home' %}">
									<i class="material-icons">person</i> login
								</a>
							</li>

							<li>
								<a href="#geetech" target="_blank" class="btn btn-white btn-simple">
									<i class="material-icons">person_add</i> register
								</a>
							</li>

        		</ul>
        	</div>
    	</div>
    </nav>
