{% load static %}

<nav class="navbar navbar-danger navbar-transparent navbar-absolute">
    	<div class="container">
        	<!-- Brand and toggle get grouped for better mobile display -->
        	<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>
        		<a class="navbar-brand" href="{% url 'article_list' %}">ogeblog</a>
        	</div>

        	<div class="collapse navbar-collapse">
        		<ul class="nav navbar-nav navbar-right">
	    				<li>
								<a href="{% url 'article_list' %}">
									<i class="material-icons">home</i> home
								</a>
							</li>

							<li>
								<a href="{% url 'contact' %}">
									<i class="material-icons">email</i> contact us
								</a>
							</li>


              {% if user.is_authenticated %}

                <li class="dropdown">
                    <a href="#geetech" class="profile-photo dropdown-toggle" data-toggle="dropdown">
                        <div class="profile-photo-small">
                            <img src="{{user.image_url}}" alt="{{user.username}}" class="img-circle img-responsive">
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">
                            user options
                        </li>
                        <li>
                            <a href="#geetech">@{{user.username}}</a>
                        </li>
                        {% if user.is_superuser %}
                          <li>
                              <a href="{% url 'article_dashboard' %}">Admin Dashboard</a>
                          </li>
                        {% endif %}
                        <li class="divider"></li>
                        <li><a href="{% url 'accounts:logout' %}">Sign out</a></li>
                    </ul>
                </li>
              {% else %}
                <li>
                  <a href="{% url 'accounts:login' %}">
                    <i class="material-icons">person</i> login
                  </a>
                </li>

                <li>
                  <a href="{% url 'accounts:signup' %}">
                    <i class="material-icons">person_add</i> register
                  </a>
                </li>
              {% endif %}

        		</ul>

        </div>
    	</div>
    </nav>
